.icon-container {
  display: inline;

  /* background-color: aliceblue; */
  position: relative;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
}

.icon {
  display: inline-block;
  font-size: 1rem;
  /* background-color: red; */
  margin-right: 0.5rem;
  cursor: pointer;
  width: 75px;
  /* border: 2px solid hsl(0, 0%, 14%); */
}

.icon img {
  width: 2rem;
  margin-bottom: .25rem;
}

.icon span {
  display: block;
  font-size: .75rem;
}

.tooltip {
  visibility: hidden;
  display: block;
  position: absolute;
  /* background-color: transparent; */
  color: transparent;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  z-index: 1;
  transition: 0.25s all linear;
}

.icon:hover + .tooltip,
.basic-info:hover + .tooltip,
.tooltip:hover {
  visibility: visible;
  background-color: var(--color-tooltip);
  box-shadow: inset 0 0 5px 2px hsl(0, 0%, 14%);
  color: white;
  cursor: pointer;
  z-index: 10;
  /* box-shadow: 1px 3px rgba(0, 0, 0, 0.1); */
}

.tooltip progress {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  margin-bottom: 5px;
  border-radius: 5000px;
  height: 0.5rem;
  border: none;
}

::-moz-progress-bar {
  background-color: var(--color-accent);
  border-radius: 5000px;
}
