.about {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    background-color: red;
    /* align-items: center; */
}

.about__picture {
    height: 250px;
    width: 250px;

}

