/* HEADER STYLES */

.header {
  background-color: black;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  overflow: hidden;
}

/* ----------- LOGO ------------- */

.logo-container {
  position: relative;
  margin-left: 3rem;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

#logo {
  min-width: 2rem;
  transition: all 0.1s ease-in-out;
  max-width: 2.5rem;
  animation: logoScale 4s infinite;
  animation-delay: 2s;
  animation-timing-function: ease;
  
}

/* A BLACK BAR TO HIDE THE TEXT  */
.logo-container::before {
  position: absolute;
  top: 0;
  transform: translateX(-65%);
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

#logo:hover {
  cursor: pointer;
  /* animation-name: logoHoverAnim; */
  transform: scale(1.1);
  animation-duration: 0.25s;
  animation-play-state: paused;
}

#about-me {
  /* background-color: red; */
  /* position: absolute; */
  transform: translateX(-110%);
  /* font-size: 1.2rem; */
  z-index: -1;
  transition: all 0.25s linear;
  transition-delay: 0.25s linear;
}

#logo:hover + #about-me {
  transform: translateX(15%);
}

#about-me::after {
  top: 0;
  left: 0;
  content: "";
  /* background-color: yellow; */
  width: 100%;
  height: 100%;
}

/* -------------- NAVBAR -------------- */
.nav-items {
  list-style: none;
  display: flex;
  height: 100%;
  width: 50%;
  margin-right: 2rem;
  max-width: 400px;
  align-items: center;
  justify-content: space-between;
}

.nav-item span {
  text-decoration: none;
  color: #e3e3e3;
  transition: all 0.25s linear;
  /* background-color: blue; */
  padding: 1rem 0.75rem;
}

.nav-item span:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.nav-item .active {
  color: var(--color-accent);
}
@media only screen and (max-width: 700px) {
  .nav-items {
    width: 70%;
  }
  .logo-container {
    margin-left: 1rem;
  }
}

@keyframes logoScale {
  0% {
    scale: 1;
  }

  4% {
    scale: 1.1;
  }

  7% {
    scale: 0.95;
  }

  10% {
    scale: 1.03;
  }
  13% {
    scale: 0.98;
  }
  14% {
    scale: 1.01;
  }
  15% {
    scale: 0.99;
  }
  16% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
