.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  padding-top: 0.5rem;
}

/* ----------- LOGO ------------- */
.logo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.profile-pic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s;
}

.profile-pic:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.profile-pic img {
  width: 100%;
  height: 100%;
}

.name {
  margin-left: 1rem;
}

/* -------------- NAVBAR -------------- */
.main-nav ul {
  list-style: none;
  position: relative;
}

.main-nav li {
  position: relative;
  display: inline;
  margin: 2px;
  color: inherit;
}

.main-nav li a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #e3e3e3;
}

.main-nav li a:hover {
  color: lightblue;
}

.active {
  color: green;
}
