.nav {
  --accent-color: rgb(38, 190, 217);
  background-color: black;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  /* margin: 1rem 2rem; */
  /* padding-top: 0.5rem; */
  padding: 1rem 2rem;
  z-index: 10;
}

/* ----------- LOGO ------------- */

.nav__profile-pic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s;
}

.nav__profile-pic:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.nav__profile-pic img {
  width: 100%;
  height: 100%;
}

/* -------------- NAVBAR -------------- */
.nav ul {
  list-style: none;
  position: relative;
  margin-right: 1rem;
}

.nav li {
  position: relative;
  display: inline;
  margin: .5em;
  
  color: inherit;
  background-color: #000;
  width: 200px;
  height: 20em;
}

.active {
  padding: 2em 0;
  border-radius: 0 0 50% 50%;
}

.nav li a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #e3e3e3;
}

.nav li a:hover {
  color: var(--accent-color);
}

.nav li .active {
  color: var(--accent-color);
}

.nav li .gaz {
  color: red;
}
