/* HEADER STYLES */

.header {
  background-color: black;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  /* overflow: hidden; */
}

/* ----------- LOGO ------------- */

.logo-container {
  position: relative;
  margin-left: 3rem;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

#logo {
  position: inherit;
  min-width: 2rem;
  transition: all 0.1s ease-in-out;
  max-width: 2.5rem;
  scale: 1;
  -webkit-animation: logoScale 3s infinite;

  /* -webkit-animation-delay: 2s; */
  /* -webkit-animation-timing-function: ease; */

  animation: logoScale 3s infinite;
  animation-delay: 2s;
  animation-timing-function: ease;
}

#logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  animation-duration: 0.25s;
  animation-play-state: paused;
}

#circle {
  /* content: ""; */
  position: absolute;
  /* background-color: transparent; */
  /* background-color: red; */
  border-radius: 50%;
  border: 3px solid white;
  width: 100%;
  height: 100%;
  /*   
  -webkit-animation: logoAnim 3s infinite;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 2s; */

  animation: logoAnim 3s infinite;
  animation-timing-function: ease;
  animation-delay: 2s;

  /* pointer-events: none; */
  z-index: -2;
}

#logo:hover + #circle {
  animation-play-state: paused;
}

/* -------------- NAVBAR -------------- */
.nav-items {
  list-style: none;
  display: flex;
  height: 100%;
  width: 50%;
  margin-right: 2rem;
  max-width: 400px;
  align-items: center;
  justify-content: space-between;
}

.nav-item span {
  text-decoration: none;
  color: #e3e3e3;
  transition: all 0.25s linear;
  /* background-color: blue; */
  padding: 1rem 0.75rem;
}

.nav-item span:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.nav-item .active {
  color: var(--color-accent);
}
@media only screen and (max-width: 700px) {
  .nav-items {
    width: 70%;
  }
  .logo-container {
    margin-left: 1rem;
  }
}

@keyframes logoScale {
  0% {
    transform: scale(1);
  }

  5% {
    transform: scale(1.15);
  }

  7% {
    transform: scale(0.95);
  }

  10% {
    transform: scale(1.03);
  }
  13% {
    transform: scale(0.98);
  }
  14% {
    transform: scale(1.01);
  }
  15% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes logoScale {
  0% {
    transform: scale(1);
  }

  5% {
    transform: scale(1.15);
  }

  7% {
    transform: scale(0.95);
  }

  10% {
    transform: scale(1.03);
  }
  13% {
    transform: scale(0.98);
  }
  14% {
    transform: scale(1.01);
  }
  15% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes logoAnim {
  0% {
    opacity: 1;
    transform: scale(1);
    border-width: 3px;
  }

  5% {
    opacity: 1;
    transform: scale(1.1);
    border-width: 2.5px;
  }

  15% {
    opacity: 0;
    transform: scale(2);
    border-width: 1px;
  }

  100% {
    opacity: 0;
    transform: scale(2);
    border-width: 0;
  }
}

@keyframes logoAnim {
  0% {
    opacity: 1;
    transform: scale(1);
    border-width: 3px;
  }

  5% {
    opacity: 1;
    transform: scale(1.1);
    border-width: 2.5px;
  }

  15% {
    opacity: 0;
    transform: scale(2);
    border-width: 1px;
  }

  100% {
    opacity: 0;
    transform: scale(2);
    border-width: 0;
  }
}
