.gallery {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: dense;
  grid-gap: .5rem;
  margin: 0 auto;
  border-radius: .5rem;
  overflow: hidden;
}
