*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* CSS VARIABLES */
  --sidebar-width: 200px;
}

.gallery {
  top: 0;
  right: 0.5rem;
  width: 95%;
  max-height: 2400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-auto-rows: 250px 2fr;
  grid-auto-flow: dense;
  grid-gap: 0.5rem;
  overflow: hidden;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
}

/* HEADER STYLES */

.header {
  --accent-color: rgb(38, 190, 217);
  background-color: black;
  position: sticky;
  left: 0;
  top: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  overflow: hidden;
}

/* ----------- LOGO ------------- */

.logo {
  font-size: 36px;
  text-transform: uppercase;
  margin: .5rem;
  margin-left: 2rem;
  text-align: center;
  transform-origin: left;
  transition: all 2s linear;
}

.logo:hover {
  /* transform: scale(1.1); */
}

.logo-main {
  text-align: center;
  padding-left: 1rem;
}


.logo-sub {
  /* display: none; */
  color: transparent;
  position: relative;
  padding-right: 1rem;
  transition: all .5s linear;
}

.logo-main:hover,
.logo-main:hover + .logo-sub,
.logo-sub:hover {
  display: inline;
  cursor: pointer;
  color: white;
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
  filter: grayscale(100%);
}

.profile-pic::after{
  content: "N";
}

.profile-pic:hover {
  cursor: pointer;
  transform: rotateY(360deg)
}

.profile-pic img {
  width: 100%;
  height: 100%;
}

/* -------------- NAVBAR -------------- */
.nav-item {
  list-style: none;
  display: inline;
}

.nav-item a {
  text-decoration: none;
  color: #e3e3e3;
  transition: all 0.25s linear;
  padding: 1rem 3rem;
}

.nav-item a:hover {
  color: var(--accent-color);
}

.nav-item .active {
  color: var(--accent-color);
}

.stars {
  background-color: red;
}

.stars-front {
  background-color: orange;
  width: 1px;
  height: 1px;
}
