*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* CSS VARIABLES */
  --color-accent: hsl(197, 88%, 43%);

  --color-bg: hsl(0, 0%, 3%);
  --color-modal: hsl(0, 0%, 7%);
  --color-info-box: hsl(0, 0%, 11%);
  --color-tooltip: hsl(0, 0%, 13%);

  --color-text-primary: hsl(200, 4%, 84%);

  --color-highlight: hsl(0, 0%, 24%);
}

body {
  margin: 0;
  /* font-family: "Rubik"; */
  font-family: "Radio Canada", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: white;
  overflow-y: scroll;
  width: 100%;
}

.gallery {
  right: 0.5rem;
  width: 95%;
  max-height: 5000px;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); */
  /* grid-template-rows: repeat(auto-fill, minmax(250px, 50px)); */
  grid-template-rows: repeat(auto-fill, minmax(250px, 2fr));
  /* grid-auto-rows: minmax(min-content, max-content); */
  grid-auto-flow: dense;
  grid-gap: 0.5rem;
  overflow: hidden;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
}
