.gallery {
  width: 99%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-auto-rows: 250px 2fr;
  grid-auto-flow: dense;
  grid-gap: .5rem;

  margin: .5rem auto;
  border-radius: .5rem;
  /*---------------------------------*/


  /* position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}
