/* SIDEBAR STYLES */




/* -------------- NAVBAR -------------- */
.nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  max-width: 400px;
  align-items: center;
  margin: 0 auto;
}

.nav-item span {
  text-decoration: none;
  color: #e3e3e3;
  transition: all 0.25s linear;
  /* background-color: blue; */
  padding: 1rem 0.75rem;
}

.nav-item span:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.nav-item .active {
  color: var(--color-accent);
}
@media only screen and (max-width: 700px) {
  .nav-items {
    width: 70%;
  }
  .logo-container {
    margin-left: 1rem;
  }
}

@keyframes logoScale {
  0% {
    transform: scale(1);
    color: white;
    border-color: white;
  }

  5% {
    transform: scale(1.15);
  }

  7% {
    transform: scale(0.95);
    color: var(--color-accent);
    border-color: var(--color-accent);
  }

  10% {
    transform: scale(1.04);
    color: white;
    border-color: white;
  }
  13% {
    transform: scale(0.98);
  }
  14% {
    transform: scale(1.01);
  }
  15% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    color: white;
    border-color: white;
  }
}

@keyframes logoAnim {
  0% {
    opacity: 1;
    transform: scale(1);
    border-width: 3px;
  }

  5% {
    opacity: 1;
    transform: scale(1.1);
    border-width: 3px;
  }

  15% {
    opacity: 0;
    transform: scale(2);
    border-width: 0px;
  }

  100% {
    opacity: 0;
    transform: scale(2);
    border-width: 0;
    border-color: white;
  }
}
