$accent-color: hsl(192, 100%, 75%);
$dark: hsl(0, 0, 2);
$medium-dark: hsl(0, 0, 8);
$medium: hsl(0, 0, 12);

/* SIZE VARS  */
$header-height: 4rem;
$sidebar-width: 4rem;

// :export {
//   sidebarWidth: $sidebar-width;
// }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* CSS VARIABLES */
}

body {
  margin: 0;
  font-family: "Radio Canada", "sans-serif";
  -webkit-font-smoothing: antialiased;
  color: white;
  height: 100vh;
  overflow-y: hidden;
}

.header {
  background-color: $dark;
  height: $header-height;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  #name {
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
  }
  #menu-button {
    height: $header-height;
    width: $header-height;
    display: flex;
    justify-content: center;
    #menu-icon {
      //   width: 25px;
      height: 100%;
      cursor: pointer;
    }
  }
  .icons {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    // background-color: red;
    & > * {
      margin-right: 0.5rem;
      color: red;
    }
  }
}

main {
  display: flex;
}

.sidebar {
  background-color: $dark;
  // position: absolute;
  // left: 0;
  top: $header-height;
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  // width: 40rem;
  flex-basis: $sidebar-width;
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(100vh - $header-height);
  border-right: 1px solid $medium-dark;
  transition: 250ms ease-in-out;
  .sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 100%;
    .sidebar-list-item {
      position: relative;
      display: flex;
      align-items: center;
      height: 4rem;
      width: 100%;
      border-bottom: 1px solid $medium-dark;
      &:hover {
        background-color: $medium-dark;
        cursor: pointer;
      }

      .sidebar-icon {
        // width: 25px;
        height: 100%;
        margin: 0 calc($header-height / 3);
      }
      div {
        // transform: scale(0);
        // opacity: 0;
        animation: closeItems 250ms ease-in-out;
      }
    }
    .open-items {
      background-color: red;
      // display: none;
      opacity: 0;
      animation: openItems 250ms ease-in-out;
    }
  }

  @keyframes openItems {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
    
  }

  @keyframes closeItems {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0);
    }
  }


  .active {
    background-color: $medium-dark;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      background-color: red;
      width: 3px;
    }
  }
  /* overflow: hidden; */
}

.gallery {
  // position: absolute;
  // top: $header-height;
  // right: 0;
  height: calc(100vh - $header-height);
  // width: calc(100vw - $sidebar-width);
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: $dark;
}

/* .header {
  background-color: red;
  height: var(--height-header);
}



.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  width: 90%;
  height: calc(100vh - var(--height-header));

  position: absolute;
  top: 0;
  right: 0;
  grid-auto-flow: dense;
  gap: 0.5rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 0.5rem;
  scrollbar-width: none;
} */
