$accent-color: hsl(0, 89%, 57%);
$black: hsl(0, 0, 1);
$dark: hsl(0, 0, 3);
$medium-dark: hsl(0, 0, 5);
$medium: hsl(0, 0, 12);
$medium-light: hsl(0, 0, 15);
$light: hsl(0, 0, 19);

$white: hsl(0, 0, 92);

/* SIZE VARS  */
$header-height: 4rem;
$sidebar-width: 4rem;

$container-height: 80vh;

$height: 80vh;
$padding: 2rem;


$box-shadow: 0 0 20px 0 black;
$timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);