@import "./variables";

.about-container {
  height: $height;
  width: 100%;
  background-color: $dark;
  position: absolute;
  z-index: 5;

  transform: translateY(-250%);
  transition: transform 500ms $timing-function 400ms;

  box-shadow: $box-shadow;

  .about-card {
    // width: calc(100vw - $sidebar-width - $sidebar-width);
    height: $height;
    position: absolute;

    display: grid;
    grid-template-columns: 3fr 4fr;
    // display: flex;
    .about-img {
      height: 60vmin;
      margin-left: $padding;
      align-self: center;
      // transform: translateY(-8%);
      background-image: url("https://i.imgur.com/ZZMBsZH.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 250%;
      opacity: 0;
      transition: all 500ms $timing-function;
      flex-shrink: 0;
    }

    .about-content {
      overflow-y: scroll;
      -webkit-scrollbar-corner: 20px;
      padding: $padding 3rem;
      padding-bottom: 120px;
      width: 100%;
      .about-section {
        // display: flex;
        // flex-wrap: wrap;
        .about-title {
          text-transform: uppercase;
          text-align: center;
          position: relative;
          flex-basis: 100%;
          p {
            font-weight: 700;
            letter-spacing: 6px;

            margin: 24px 0;
            display: grid;
            grid-template-columns: 1fr max-content 1fr;

            align-items: center;
            gap: $padding;

            &::before,
            &::after {
              content: " ";
              height: 1px;
              display: block;
              top: 25%;
              background-color: $white;
            }
          }
        }
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr;
          flex-grow: 1;
          li {
            padding: 10px 0;
            position: relative;
            list-style: none;
            &::before {
              content: "";
              display: inline-block;
              width: 0;
              height: 0;
              border: 5px solid transparent;
              border-left-color: $white;
              margin-right: 0.5rem;
              transform: translateY(-1px);
            }
          }
        }
        p {
          font-family: "Radio Canada";
          margin-bottom: 2rem;
          line-height: 28px;
        }
      }
    }
  }

  &.open {
    transform: translateY(0);
    transition: transform 500ms $timing-function;
    .about-card {
      .about-img {
        background-position: 65%;
        opacity: 1;
        transition: all 500ms $timing-function 500ms;
      }
    }
  }
}

#experience {
  display: grid;
  grid-template-columns: 2fr 5fr;
  .about-title {
    grid-column: span 2;
  }
  .left {
    // background-color: red;
    text-align: right;
    .workplace {
      font-size: 18px;
    }
    // flex-grow: 1;
  }
  .right {
    // background-color: blue;
    // flex-grow: 2;
    border-left: 4px solid yellow;
    padding-left: 1rem;
    .position {
      margin: 0;
    }
    li {
      list-style-type: dash;
    }
  }
}

@media (max-width: 1024px) {
  .about-container {
    overflow-y: scroll;
    // top: $header-height;
    // width: 100vw;
    .about-card {
      display: flex;
      flex-direction: column;
      .about-img {
        // background-position: left top;
        // background-position: 0% -90%;
        align-self: start;
        // background-size: contain;
        // background-size: contain, auto;
        // background-color: red;
      }
      .about-content {
        overflow-y: visible;
        padding: 0;
      }
    }
    &.open {
      height: $height;
    }
  }
}

.workplace {
  & span {
    display: block;
    line-height: 6px;
    font-size: 12px;
  }
}
