@import "./variables";

.about-container {
  height: $height;
  width: 100%;
  background-color: $dark;
  position: absolute;

  transform: translateY(-250%);
  transition: transform 500ms $timing-function 400ms;
  z-index: 5;
  box-shadow: $box-shadow;
  @media (max-width: $breakpoint-medium) {
    overflow-y: scroll;
  }
  .about-card {
    height: $height;
    position: absolute;
    display: grid;
    grid-template-columns: 3fr 6fr;
    @media (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;
    }
    .about-img {
      height: 60vmin;
      margin-left: $padding;
      align-self: center;
      background-image: url("https://i.imgur.com/ZZMBsZH.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 250%;
      opacity: 0;
      transition: background-position 500ms $timing-function,
        opacity 500ms $timing-function;
      flex-shrink: 0;
      @media (max-width: $breakpoint-medium) {
        background-size: contain;
        align-self: flex-start;
        background-position: -250%;
        width: 90%;
        margin-top: $padding;
        margin-bottom: $padding;
      }
    }
  }

  &.open {
    transform: translateY(0);
    transition: transform 500ms $timing-function;
    @media (max-width: $breakpoint-medium) {
      height: $height;
    }
    .about-card {
      .about-img {
        background-position: 85%;
        opacity: 1;
        transition: background-position 500ms $timing-function 500ms,
          opacity 500ms $timing-function 500ms;
        @media (max-width: $breakpoint-medium) {
          background-position: 0;
        }
      }
    }
  }
}

.name {
  text-transform: uppercase;
  font-size: 44px;
  line-height: 40px;
  margin-top: $padding;
  text-align: center;
  @media (max-width: $breakpoint-medium) {
    font-size: 48px;
  }
}

.contact-info {
  font-size: 10px;
  $spacing: 0.25rem;
  text-align: center;

  .info {
    &::before {
      content: "";
      height: 10px;
      width: 1px;
      background-color: $white;
      display: inline-block;
      margin: 0 $spacing;
      margin-left: $spacing * 1.5;
      vertical-align: middle;
    }
    &:nth-child(1) {
      &::before {
        display: none;
      }
    }
    & span {
      cursor: pointer;
    }
  }
  .social-icons {
    color: $white;
    margin-left: $spacing/2;
    margin-right: $spacing/2;
    transition: color 250ms $timing-function;
    &:hover {
      color: $accent-color;
    }
  }
}

.about-content {
  overflow-y: scroll;
  -webkit-scrollbar-corner: 20px;
  padding: $padding 3rem;
  padding-bottom: 120px;
  width: 100%;
  @media (max-width: $breakpoint-medium) {
    overflow-y: visible;
    padding: 0 $padding;
    padding-bottom: $padding * 2;
  }
  .about-section p {
    margin: 0 28px;
    margin-bottom: 28px;
    line-height: 28px;
  }
  .about-title {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    flex-basis: 100%;
    letter-spacing: 7px;
    font-weight: bolder;
    p {
      margin: 24px 0;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;
      gap: $padding;

      &::before,
      &::after {
        content: " ";
        height: 1px;
        display: block;
        top: 25%;
        background-color: $white;
      }
    }
  }
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  // background-color: red;
  padding: 0 $padding;
  li {
    padding: 10px 0;
    position: relative;
    list-style: none;
    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-left-color: $white;
      margin-right: 0.5rem;
      transform: translateY(-2px);
    }
  }
}

.experience-block {
  $spacing: 24px;
  $size: 10px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-bottom: $padding;
  #workplace {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    margin: 0;
    position: relative;
    & span {
      display: block;
      line-height: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $light;
    }

    #circle {
      width: $size;
      height: $size;
      display: inline;
      background-color: $medium;
      // border: 1px solid $medium;
      box-shadow: 0 0 0 4px black;
      // margin-right: -2rem;
      // right: -2rem - 0.5rem;
      // right: -$spacing - $size/2;
      position: absolute;
      right: -$spacing -$size/2 -1px;
      top: $size/1.1;
      border-radius: 50%;
    }
  }

  ul {
    $row-gap: 30px;
    border-left: 2px solid $black;
    margin-left: $spacing;
    padding-bottom: $row-gap;
    margin-bottom: -$row-gap;
    #work-position {
      margin-bottom: 0;
      font-weight: 500;
    }

    li {
      $line-height: 20px;
      list-style: none;
      position: relative;
      margin-left: $spacing + $spacing/2;
      font-size: 14px;
      line-height: $line-height;
      margin-bottom: calc($line-height / 2);
      &::before {
        content: "-";

        margin-right: 4px;
      }
    }
  }
}
