@import "./variables";

.gallery {
  // height: 90%;
  height: $height;
  display: grid;
  gap: 0.5rem;
  // padding: $padding;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
  overflow-y: scroll;
  background-color: $dark;
  transition: transform 500ms $timing-function;
  .youtube {
    scale: (1.2);
  }
}
