@import "./variables.scss";

.header {
  background-color: $dark;
  height: $header-height;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: $box-shadow;
  z-index: 10;
  flex-grow: 1;
  flex-shrink: 0;
  .header-name {
    font-family: "Radio Canada";
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin-left: 1rem;
  }
}

.header-button {
  height: $header-height;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#about-button {
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

.about-button {
  position: absolute;
  transition: transform 250ms $timing-function;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: $light;
  transition: all 250ms $timing-function;
}


.active-button {
  transform: translateX(50%);
  color: $accent-color;
}

.toggle-bar {
  height: 15px;
  width: 50%;
  background-color: black;
  border: 1px solid $medium;
  border-radius: 5000px;
}