@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");


// :export {
//   sidebarWidth: $sidebar-width;
// }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* CSS VARIABLES */
}

body {
  margin: 0;
  font-family: "DM Sans", "sans-serif";
  -webkit-font-smoothing: antialiased;
  background-color: $black;
  color: $white;
  // overflow: hidden;
}

.container {
  width: 100vmin;
  height: $height;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // box-shadow: $box-shadow;
  // box-shadow: 0 0 20px 10px black;
  box-shadow: $box-shadow;
  border-radius: 12px;

  transition: all 250ms $timing-function;
}

.icon {
  font-size: 20px;
}

.header {
  background-color: $dark;
  height: $header-height;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: $box-shadow;
  z-index: 10;
  .header-name {
    font-family: "Radio Canada";
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    margin-left: 1rem;
  }
  .header-button {
    height: $header-height;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // .menu-icon {
    //   width: 20px;
    //   height: 100%;
    // }
  }
  #about-button {
    margin-left: auto;
  }
}

main {
  display: flex;
  height: $height;
}


.about-container {
  height: 100%;
  width: 100%;
  background-color: $dark;
  position: absolute;
  z-index: 5;

  transform: translateY(-250%);
  transition: transform 500ms $timing-function 400ms;

  box-shadow: $box-shadow;

  .about-card {
    // width: calc(100vw - $sidebar-width - $sidebar-width);
    height: 100%;
    position: absolute;

    display: grid;
    grid-template-columns: 3fr 4fr;
    // display: flex;
    .about-img {
      height: 60vmin;
      margin-left: $padding;
      align-self: center;
      transform: translateY(-8%);
      background-image: url("https://i.imgur.com/ZZMBsZH.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 250%;
      opacity: 0;
      transition: all 500ms $timing-function;
      flex-shrink: 0;
    }

    .about-content {
      overflow-y: scroll;
      scrollbar-width: none;
      -webkit-scrollbar-corner: 20px;
      padding: $padding 3rem;
      width: 100%;
      .about-section {
        margin-bottom: 50px;
        .about-title {
          text-transform: uppercase;
          text-align: center;
          position: relative;
          h1 {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 6px;

            margin: 24px 0;
            display: grid;
            grid-template-columns: 1fr max-content 1fr;

            align-items: center;
            gap: $padding;

            &::before,
            &::after {
              content: " ";
              height: 1px;
              display: block;
              top: 25%;
              background-color: $white;
            }
            // &::before {
            //   left: 0;
            // }
            // &::after {
            //   right: 0;
            // }
          }
        }
        ul {
          li {
            margin-bottom: 2rem;
            list-style: none;
          }
        }
        p {
          font-family: "Radio Canada";
          margin-bottom: 2rem;
          line-height: 28px;
          width: 100%;
        }
      }
    }
  }
  &.open {
    transform: translateY(0);
    transition: transform 500ms $timing-function;
    .about-card {
      .about-img {
        background-position: 65%;
        opacity: 1;
        transition: all 500ms $timing-function 500ms;
      }
    }
  }
}

.gallery {
  height: 90%;
  display: grid;
  gap: 0.5rem;
  padding: $padding;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
  overflow-y: scroll;
  // scrollbar-width: none;
  background-color: $dark;
  transition: transform 500ms $timing-function;
  .youtube {
    scale: (1.2);
  }
  &.open {
    transform: translateX(100%);
  }
}

@media (max-width: 1024px) {
  .container {
    width: 90vw;
    height: $container-height;
  }
  .sidebar {
    flex-basis: 0;
    width: 0;
  }
  .sidebar-open {
    flex-basis: 5rem;
  }

  .about-container {
    overflow-y: scroll;
    // top: $header-height;
    // width: 100vw;
    .about-card {
      display: flex;
      flex-direction: column;
      .about-img {
        background-position: left top;
        // background-position: 0% -90%;
        background-size: contain;
        // background-size: contain, auto;
        // background-color: red;
      }
      .about-content {
        overflow-y: visible;
        padding: 0;
      }
    }
    &.open {
      height: $height;
    }
  }
}
