.tile__container {
  overflow: hidden;
  position: relative;
}

.hidden {
  border: 1px solid red;
  display: none;
}

.tile__container:hover {
  cursor: pointer;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

img,
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all ease-in-out 0.5s;
}

.tile__container:hover img {
  transform: scale(1.1);
}

.active img {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
}

/* ------------ INFO SECTION ------------- */
.tile__info {
  background-color: green;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  padding: 15px;
  opacity: 0;
  transition: all 0.5s;
  // z-index: 2;
}

.tile__info:hover {
  opacity: 100;
}

.tile__name {
  padding-bottom: 10px;
  pointer-events: none;
  justify-self: left;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.tile__info:hover .tile__name {
  opacity: 100;
}

.tile__desc {
  max-height: 75px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  pointer-events: none;
  font-weight: 200;
  bottom: 0;
  text-align: left;
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

.tile__info:hover .tile__desc {
  opacity: 100;
}

.tile__img-container {
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  /* .gallery {
    grid-template-columns: repeat(250px);
    grid-template-rows: repeat(250px);
  } */

  .tall {
    grid-row: span 1;
  }
  .wide {
    grid-column: span 1;
  }
}
